@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Share+Tech+Mono&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}
:root {
  --roxa: #a683ff;
  --verde: #cae4ce;
  --azul: #d2ecf2;
  --rosa: #ffe3dd;
  --branco: #fff;
  --preto: #000;

  --btn-padding: 0.6rem 2rem;
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 0.1rem;
}
body {
  font-family: "Neuton", serif;
  color: var(--preto);
  background: var(--branco);
}

/*customização do corpo*/
.container {
  width: 90%;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}
.profile-picture {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture:hover {
  opacity: 0.75;
  cursor: pointer;
}
.btn {
  padding: var(--btn-padding);
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 400;
  transition: 300ms ease all;
  border: 2px solid var(--branco);
}
.btn:hover {
  opacity: 0.75;
}
.btn-primary {
  background: var(--roxa);
  color: var(--branco);
}
.btn-perfil {
  border-radius: 50%;
  padding: 1.5rem;
}
.text-bold {
  font-weight: 500;
}
.text-gry {
  color: var(--branco);
}

/*Inicio da navBar*/
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: -0.1rem 0;
  background: var(--branco);
  box-shadow: 1px 1px var(--roxa);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .search-bar {
  padding: var(--search-padding);
  background: var(--branco);
  border-radius: var(--border-radius);
  margin-left: 30rem;
  border: 3px solid var(--roxa);
}
nav .search-bar input[type="search"] {
  background: transparent;
  width: 10vw;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--preto);
}
nav .search-bar input[type="search"]::placeholder {
  color: var(--roxa);
}
.add-post {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-nav {
  width: 10%;
  cursor: pointer;
}
/*Fim da navBar*/

/*Inicio main*/
main {
  position: relative;
  top: 6rem;
}
.main-container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  position: relative;
}

/*inicio main left*/
.main-left {
  position: sticky;
  height: max-content;
  top: 5.4rem;
}
.boas-vindas {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: var(--roxa);
  border-radius: var(--card-border-radius);
  text-align: center;
  color: var(--branco);
  height: 320px;
}
.boas-vindas img {
  width: 100%;
  margin-top: 2rem;
}
.boas-vindas h1 {
  margin-top: 1rem;
}
aside {
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
}
aside .menu-item {
  display: flex;
  align-items: center;
  height: 3rem;
  position: relative;
  cursor: pointer;
  transition: 300ms ease all;
  background: var(--roxa);
  border: 1px solid var(--roxa);
}
aside .menu-item:hover {
  opacity: 0.75;
  cursor: pointer;
}
aside .menu-item span i {
  font-size: 30px;
  margin-left: 1rem;
  position: relative;
  color: var(--branco);
}
aside .nofty-counter {
  background: red;
  color: var(--branco);
  width: fit-content;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: 0.7rem;
  left: 2.2rem;
}
aside .menu-item h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--branco);
}
aside .active {
  background: var(--roxa);
  opacity: 0.75;
}
aside .active h3 {
  color: var(--branco);
}
aside .active span i {
  color: var(--branco);
}
aside .active:hover {
  content: "";
}
aside .menu-item:first-child {
  overflow: hidden;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}
aside .menu-item:nth-last-child(2) {
  overflow: hidden;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}
.btn-lg {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
/*final main left*/

/*inicio main midle*/
.middle-container {
  max-width: 700px !important;
  width: 80%;
  margin: 0 auto;
  margin-top: -5%;
}
.main-middle .add-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
  background: var(--rosa);
  margin-top: 1rem;
}
.main-middle .add-post input[type="text"] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  color: var(--preto);
  margin-left: 2rem;
}
.main-middle .add-post .profile-picture {
  width: 2.8rem;
}

/*inicio do feed aria*/
.feeds .feed {
  background: var(--branco);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem auto;
  line-height: 1.5;
  font-size: 0.85rem;
}
.feeds .feed .feed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myfeed .feed-top .edit {
  position: relative;
}
.feed .feed-top .user {
  display: flex;
  gap: 1rem;
}
.feed .feed-top .edit img {
  width: 1.6rem;
}
.feed .feed-img {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.8rem 0;
}
.text-coment {
  color: var(--roxa);
  font-weight: bold;
}
.feed .action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: var(--roxa);
  margin: 0.6rem;
  cursor: pointer;
}
.action-button span:first-child i {
  font-weight: normal;
}
.action-button span:nth-child(2) i {
  font-weight: normal;
}
.bookmark i {
  font-weight: normal;
}
.liked-by {
  display: flex;
}
.liked-by span {
  border-radius: 50%;
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
  margin-left: -0.6rem;
  border: 2px solid var(--roxa);
}
.liked-by span:first-child {
  margin: 0;
}
.liked-by p {
  margin-left: 0.5rem;
}
.hars-tag {
  color: var(--roxa);
}

/*inicio modal denuncia*/
/* Estilo para o ícone de elipse */
.fas.fa-ellipsis {
  cursor: pointer;
  transition: all ease .5s;
  border-radius: var(--border-radius);
}
.fas.fa-ellipsis:hover{
  color: var(--roxa);
  transform: scale(1.5);
}
/* Estilo para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.modal-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: var(--card-border-radius);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-content p{
  font-size: 15px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.close{
  top: 0;
  right: 0;
  cursor: pointer;
  color: var(--preto);
  font-size: 15px;
}
.linha-denuncia {
  border: none; 
  height: 2px; 
  background-color: var(--roxa); 
  width: 100%;
}
/*final modal denuncia*/

/*inicio segundo modal denuncia*/
.modal-desc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.modal-content-desc {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: var(--card-border-radius);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 550px;
  height: 400px;
}
.modal-content-desc .opcoes{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.opcoes button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 .opcoes button.learn-more {
  width: 100%;
  height: auto;
 }
 
 .opcoes button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--roxa);
  border-radius: 1.625rem;
 }
 
 .opcoes button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--branco);
 }
 
 .opcoes button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .opcoes button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .opcoes button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .opcoes button:hover .circle {
  width: 100%;
 }
 
 .opcoes button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .opcoes button:hover .button-text {
  color: #fff;
 }
.modal-content-desc .opcao-denuncia{
  padding: var(--card-padding);
  width: 100%;
  text-align: center;
}
.modal-content-desc h2 {
  font-size: 20px;
  text-align: center;
  color: var(--roxa);
}

.close-desc {
  font-size: 15px;
  cursor: pointer;
}

.modal-content-desc .btn-dica-add {
  margin-left: auto; /* Move o botão para a direita */
  margin-top: 1rem;
}

/*final segundo modal denuncia*/

/*final do feed aria*/
/*final main midle*/

/*inicio main right*/
.main-right {
  position: sticky;
  top: -18rem;
  bottom: 0;
}
/*inicio melhores amigos*/
.amigos {
  background: var(--roxa);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
}
.amigos h3 {
  text-align: center;
  color: var(--branco);
  font-size: 25px;
  margin-top: 0.5rem;
}
.amigos .request {
  background: var(--branco);
  margin: 1rem;
}
.dados-amigos {
  margin-top: 1rem;
  text-align: center;
  margin-right: 1rem;
}
.amigos .text-amigos {
  font-weight: bold;
}
.amigos .profile-picture {
  margin-top: 1rem;
}
.request {
  background: var(--roxa);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 1rem;
}
.request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
/*final melhores amigos*/

/*inicio dicas destaques*/
.corpo-destaques {
  margin-top: 2rem;
  border: 2px solid var(--roxa);
  border-radius: var(--card-border-radius);
  padding: var(--card-border-radius);
}
.corpo-destaques h3 {
  text-align: center;
  color: var(--preto);
  font-size: 25px;
}
.dicas-destaques {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-dicas {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-dicas .txt-dicas {
  font-size: 20px;
  color: var(--roxa);
  font-weight: bold;
}

/*final dicas destaques*/

/*final main right*/

/*final main*/

/*inicio popUp aria*/

/*inicio perfil popup*/
.popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 9;
  background: #000000ba;
  display: none;
}
.popup > div {
  display: flex;
}
.popup-box {
  width: fit-content;
  height: max-content;
  background: var(--branco);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profile-popup-box > div {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
}
#profile-upload {
  display: none;
}
.profile-popup-box h1 {
  line-height: 1.8;
}
.popup .close {
  font-size: 1.6rem;
  color: var(--branco);
  margin-left: 0.5rem;
  margin-top: -0.5rem;
  cursor: pointer;
}
/*final perfil popup*/

/*inicio add-post popup*/
/*.add-post-popup{
display: flex;
}*/

.add-post-popup {
  gap: 1rem;
}
.post-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-title label {
  font-size: 1.4rem;
  font-weight: bold;
}
#add-post {
  padding: 10px;
}

.post-title input {
  background: var(--rosa);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  font-size: 1.1rem;
}
.post-title input:focus {
  border: 1px solid var(--roxa);
}
.post-img {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-img input[type="file"] {
  display: none;
}
.post-img img {
  width: 6rem;
  margin: auto;
}
.post-img .feed-upload-button {
  padding: var(--card-padding);
  border: 2px dashed var(--preto);
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*final add-post popup*/

/*Final popUp aria*/

.boxshadow1 {
  box-shadow: 0 0 1rem var(--roxa);
}
.liked {
  font-weight: bold !important;
  color: var(--roxa);
  transform: scale(1.1);
}

/*=========inicio media query=========*/
/*MAX WIDTH(1200px)*/
@media (max-width: 785px) {
  .container {
    width: 96%;
  }
  .main-container {
    grid-template-columns: auto 26vw;
  }
  .main-left {
    width: 6rem;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 10%;
  }
  .main-container .main-left .profile {
    display: none;
  }
  aside h3 {
    display: none;
  }
  aside .menu-item span img {
    margin-left: 1.4rem;
  }
  aside .btn {
    display: none;
  }
  /*MAX WIDTH(991px)*/
  @media (max-width: 991px) {
    nav .search-bar {
      display: none;
    }
    .main-container {
      grid-template-columns: auto 0;
    }
    .main-right {
      display: none;
    }
    .main-left {
      right: 0;
      top: 16%;
      position: fixed;
    }
  }
}
/*=========final media query=========*/
