@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}

:root{
    --roxa: #a683ff;
    --verde: #cae4ce;
    --azul:  #d2ecf2;
    --rosa:  #ffe3dd;
    --branco: #fff;
    --preto: #000;
}

.header{
    position: relative;
    left: 250px;
    width: calc(98% - 240px);
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 15px 5px;
}

.header .search{
    position: relative;
    left: 380px;
    height: 40px;
    width: 40vh;
    border-radius: 40px;
    padding: 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .search .searchBtn{
    color: var(--preto);
    background-color: var(--roxa);
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.header .search .search-text{
    border: none;
    background-color: #ddd;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 240px;
}