@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}

:root{
    --roxa: #a683ff;
    --verde: #cae4ce;
    --azul:  #d2ecf2;
    --rosa:  #ffe3dd;
    --branco: #fff;
    --preto: #000;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--rosa);
    z-index: 100;
    transition: all 0.5s ease;
}



.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: var(--preto);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--preto);
    transition: all 0.3s ease;
}



/* Nav Links */
.sidebar .nav-links{
    padding-top: 40px;
    height: 100%;
    overflow: auto;
}

.sidebar .nav-links{
    overflow: visible;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.3s ease;
}
.sidebar .nav-links li:hover{
    background: var(--verde);
}

.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--preto);
}

.sidebar .nav-links li a{
    text-decoration: none;
}

.sidebar .nav-links li .link-name{
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
}



/* Profile */
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 0;
    transition: all 0.4s ease;
}



.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: var(--verde);
    padding: 5px;
    transition: all 0.5s ease;
}



.sidebar .profile-details .profile-name,
.sidebar .profile-details .job{
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}



.sidebar .profile-details .job{
    font-size: 12px;
}

.sidebar.open ~ .home-section .bx-menu{
    display: none;
}

.home-section .home-content .bx-menu{
    font-size: 26px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
.sidebar.open{
    width: 78px;
}

.sidebar.open .logo-details .logo-name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open .nav-links li .link-name{
    display: none;
}

.sidebar.open .profile-details{
    width: 78px;
}

.sidebar.open .profile-details img{
    padding: 5px;
}

.sidebar.open .profile-details i,
.sidebar.open .profile-details .profile-name,
.sidebar.open .profile-details .job{
    display: none;
}

.sidebar.open ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}

.sidebar.open ~ .home-section .bx-menu{
    display: block;
}
}