@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700&display=swap");

table,
th,
td {
  border: 4px solid #bce3cc;
  border-collapse: collapse;
  padding: 5px 2px 2px;
  background-color: #ffe4dd;
  width: 65.89rem;
  height: 4rem;
  
}

.colunas {
  font-family: "poppins", sans-serif;
  
}

.conteudo {
  font-family: "poppins", sans-serif;
  text-align: center;

  
}

.Tabela_Admin{
  display: flex;
  justify-content: center;
}



/*Botão*/
.btnSuspender {
    font-size: 15px;
    font-family: "poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
  }

  .btnBanir {
    font-size: 15px;
    font-family: "poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
  }

  .btnPromover {
    font-size: 15px;
    font-family: "poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
  }
  
  hr {
    border: 0px;
    border-top: 1px solid lightgray;
  }
  
  .modal-containerSuspender, .modal-containerBanir, .modal-containerPromover  {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .btnOK {
   background-color: blue!important;
  }
  
  .btnClose {
    background-color: brown!important;
   }
  
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    span, .btns button {
      font-size: smaller;
    }
   }